{% extends 'base.html.twig' %}

{% block title %} -Accueil{% endblock %}

{% block body %}
<section id="home" class="container">

<div class="row">
{% for ref in references %}
<div class="col-md-4 col-sm-12">
        {# {{dump(references)}} #}
        {# {{dump(ref.title)}} #}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ref.image}}" alt="{{ref.title}}">
        <div class="card-body">
            <h5 class="card-title">{{ref.title}}</h5>
            <p class="card-text">{{ref.description}}</p>
            <p>{{ref.price.amount}}€</p>
            <a href="{{path ('app_shop_show',{'slug' : ref.slug})}}" class="btn btn-primary">Voir le détail</a>
        </div>
    </div>
</div>

    {% endfor %}

{% endblock %}
